* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  max-width: 1280px;
  margin: 0 auto;
}

.capital-page {
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
    #211f20;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
  width: 100%;
}

hgroup {
  display: flex;
  flex-direction: column;
  min-width: 180px;
}

.header__logo {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #f1cdb3;
}

.header-explanation {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
}

.header__nav {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  list-style-type: none;
}

.navigation__link {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.property-link {
  text-decoration: none;
  color: #cdcdcd;
}

.navigation__link + .navigation__link {
  margin-left: 35px;
}

.greet {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
}

.greet__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 460px;
}

.greet__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
}

.greet__info {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  margin: 42px 0px;
}

.greet__seach-friend {
  width: 207px;
  height: 52px;
  padding: 15px 45px;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
}

@media screen and (max-width: 768px) {
  .greet {
    flex-direction: column;
  }
}
